@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart/fonts/symbols-technomart.woff") format("woff"), url("../fonts/symbols-technomart/fonts/symbols-technomart.woff2") format("woff2");
}
[class^="icon-"]::before, [class*=" icon-"]::before {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}
.icon-circle:before {
  content: "\25cb";
}
.icon-circle-dot:before {
  content: "\25cf";
}
body {
  margin: 0;
  padding: 0;
  background: #141414;
  color: #fff;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}
body.main-page {
  background: #141414 url("../img/background-body.jpg") no-repeat center top;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-header {
  background: #000;
}
.main-navigation {
  float: left;
  width: 780px;
}
.main-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}
.main-navigation a {
  display: block;
  padding: 25px 20px;
  text-decoration: none;
  color: #fff;
}
.main-navigation a:hover {
  background: #242424;
}
.main-navigation .active a {
  position: relative;
}
.main-navigation .active a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  padding-bottom: 0;
  left: 20px;
  width: 60%;
  height: 5px;
  background: white;
}
.main-navigation .active a:hover {
  background: none;
}
.user-block {
  float: right;
  max-width: 140px;
}
.login {
  display: inline-block;
  vertical-align: top;
  padding: 25px 20px;
  padding-left: 50px;
}
.login {
  position: relative;
  text-decoration: none;
  color: white;
}
.login:hover {
  background: #242424;
}
.login:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 16px;
  background: url("../img/icons/icon-login.png") no-repeat;
  transform: translate(-35px, 5px);
  opacity: 0.3;
}
.login:hover:before {
  opacity: 1;
}
.logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 60px;
}
.header-logo {
  display: block;
  width: 111px;
  height: 24px;
}
.main-catalogue, .main-item {
  background-color: #f9f6f3;
  color: #000;
  padding-bottom: 50px;
  padding-top: 60px;
}
h1 {
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 30px;
}
.breadcrumbs {
  list-style-type: none;
  font-size: 0;
  padding: 0;
  margin-left: -30px;
  margin-bottom: 60px;
}
.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 24px;
}
.breadcrumbs a {
  position: relative;
  display: block;
  padding: 5px 30px;
  text-decoration: none;
  color: #000;
}
.breadcrumbs .current {
  color: #aba9a7;
}
.breadcrumbs a[href]:after {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #000;
  transform: rotate(45deg);
  top: 10px;
  left: 100%;
  margin-left: -10px;
}
.features {
  margin-bottom: 80px;
}
.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}
.features-item:last-child {
  margin-right: 0;
}
.features-title {
  position: relative;
  padding-bottom: 50px;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 42px;
}
.features-item p {
  margin: 10px;
}
.features-title::after {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
  bottom: 0;
  left: 50%;
  margin-left: -10px;
}
.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  background: #f8f5f2;
  color: #000;
}
.content-column-left {
  float: left;
  width: 350px;
  padding-left: 10px;
  padding-right: 10px;
}
.comtent-column-title {
  margin: 0;
  Margin-bottom: 35px;
  font-size: 30px;
  line-height: 42px;
}
.content-column-right {
  float: right;
  width: 300px;
}
.news-preview {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.news-preview li {
  margin-bottom: 25px;
}
.news-preview time {
  text-transform: none;
  font-weight: normal;
}
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 33px;
  color: #fff;
  background: #000;
  font-size: 14px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 16px;
}
.btn:hover, .btn:active {
  background: #663d15;
}
.btn:disabled {
  cursor: default;
  opacity: .5;
}
.btn:disabled:hover {
  background: #000;
}
.gallery {
  height: 260px;
  position: relative;
}
.gallery-content {
  height: 164px;
  margin: 0;
  border: 7px solid white;
  background: #ccc;
}
.gallery-content img {
  width: 286px;
  height: 164px;
}
.gallery .btn {
  width: 140px;
  margin: 0;
  position: absolute;
  margin-top: 40px;
}
.gallery-prev {
  left: 0;
}
.gallery-next {
  right: 0;
}
.index-content p {
  margin: 0;
  margin-bottom: 25px;
}
.appointment-form input {
  float: left;
  margin-right: 25px;
  margin-bottom: 20px;
  width: 106px;
  padding: 10px 15px;
  border: 2px solid #000;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 15px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
  background: #f9f6f3;
  outline: none;
}
.appointment-form input:nth-child(2n) {
  margin-right: 0;
}
.appointment-form input:focus {
  border: 5px solid #663d15;
}
.appointment-form .btn {
  width: 100%;
  clear: both;
}
.item-wrapper {
  margin-top: 40px;
  margin-left: 0;
}
.item-column-left {
  float: left;
  width: 480px;
}
.item-column-right {
  float: right;
  width: 380px;
  padding-right: 10px;
}
.item-photo img {
  box-shadow: inset 8px 0 15px 0 rgba(0, 0, 1, 0.24);
}
.item-photo-large {
  margin-bottom: 20px;
  margin-left: 0;
}
.item-photo-large img {
  width: 460px;
  height: 498px;
}
.item-photo-small {
  width: 460px;
  font-size: 0;
  margin-left: 0;
}
.item-photo-small img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  width: 140px;
  height: 149px;
}
.item-photo-small img:last-of-type {
  margin-right: 0;
}
.item-description {
  padding-top: 30px;
}
.available {
  float: left;
}
.number {
  display: block;
  float: right;
  color: #aeaeae;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.item-description p {
  margin-top: 40px;
  margin-bottom: 40px;
}
.item-description .item-name {
  color: #000;
}
.filter-column {
  float: left;
  margin-left: -10px;
  width: 230px;
}
.goods-column {
  float: right;
  width: 700px;
}
fieldset {
  border: none;
  margin-bottom: 45px;
}
legend {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
  padding-left: 0;
}
.items-grouping {
  margin-top: -20px;
}
label {
  display: block;
  line-height: 18px;
  padding-bottom: 17px;
  cursor: pointer;
}
input[type="checkbox"],input[type="radio"] {
  display: none;
}
input[type="checkbox"]+ label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -1px 20px 0 0;
  vertical-align: top;
  background: url("../img/icons/checkbox.png") left top no-repeat;
}
input[type="checkbox"]+ label:hover {
  color: #663d15;
}
input[type="checkbox"]:disabled + label {
  color: #aeacaa;
}
input[type="checkbox"]:checked+ label span {
  background: url("../img/icons/checkbox-checked.png") left top no-repeat;
}
input[type="checkbox"]:disabled+ label span {
  background: url("../img/icons/checkbox-disabled.png") left top no-repeat;
}
input[type="radio"]+ label:before {
  content: "\25cb";
  font-family: "symbols-technomart";
  display: inline-block;
  font-size: 25px;
  font-weight: 400;
  vertical-align: top;
  margin-right: 15px;
}
input[type="radio"]:checked+ label:before {
  content: "\25cf";
  font-family: "symbols-technomart";
}
input[type="radio"]+ label:hover {
  color: #663d15;
}
input[type="radio"]:disabled+ label {
  color: #aba9a7;
}
input[type="radio"]:disabled+ label:before {
  color: #aba9a7;
}
.items-group, .brand-group {
  display: inline-block;
  vertical-align: middle;
  max-width: 165px;
}
.range-filter button[type="submit"] {
  margin-left: 10px;
  margin-top: -20px;
}
.item-catalogue {
  margin-top: 5px;
  padding: 0;
  font-size: 0;
}
.goods-description {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 220px;
  height: 290px;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  line-height: 18px;
  font-size: 14px;
}
.goods-description .image {
  width: 220px;
  height: 165px;
}
.goods-description:nth-child(3n) {
  margin-right: 0;
}
.goods-title {
  line-height: 10px;
  margin-left: 16px;
  margin-top: 16px;
}
.goods-title a {
  text-decoration: none;
  line-height: 18px;
  color: #000;
}
.goods-title .brand {
  text-transform: uppercase;
  display: block;
}
.paginator {
  margin-top: 45px;
  margin-left: -40px;
  list-style-type: none;
}
.paginator li {
  display: inline-block;
  vertical-align: middle;
}
.paginator a {
  padding: 14px 20px;
  color: #fff;
  text-decoration: none;
  background: #000;
  margin-right: 5px;
  font: inherit;
}
.paginator a:hover {
  color: #000;
  background: #fff;
}
.main-footer {
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 40px;
  background: #252525;
}
footer.catalogue {
  margin-top: 0;
}
.purchase {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 0;
}
.acquisition {
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 0;
}
.price {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  background: #e5e5e5;
  padding: 10px 30px;
  height: 25px;
}
.buy {
  font-size: 14px;
  line-height: 18px;
  height: 25px;
  padding-left: 15px;
  padding-right: 15px;
}
.item-content-title {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 24px;
  line-height: 30px;
}
.item-content ul {
  position: relative;
  margin-left: 30px;
  padding-left: 0;
  list-style: none;
}
.item-content li:before {
  content: "";
  position: absolute;
  display: block;
  margin-left: -30px;
  margin-top: 5px;
  width: 10px;
  height: 10px;
  background: #000;
  transform: rotate(45deg);
}
.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 80px;
}
.footer-contacts a {
  color: #fff;
}
.footer-contacts a:hover {
  text-decoration: none;
}
.footer-social {
  float: left;
  text-align: center;
}
.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}
.social-btn {
  position: relative;
  margin: 0 2px;
  width: 43px;
  height: 43px;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  text-decoration: none;
  background: #000;
}
.social-btn:hover {
  background-color: #fff;
}
.social-btn-inst {
  margin-right: 0;
}
.social-btn-vk:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 16px;
  background: transparent url("../img/icons/vkontakte-icon.png") no-repeat;
  transform: translate(-13px, 14px);
}
.social-btn-vk:hover:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 16px;
  background: transparent url("../img/icons/vk-hover.png") no-repeat;
  transform: translate(-13px, 14px);
}
.social-btn-fb:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 22px;
  background: transparent url("../img/icons/facebook-icon.png") no-repeat;
  transform: translate(-7px, 11px);
}
.social-btn-fb:hover:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 22px;
  background: transparent url("../img/icons/fb-hover.png") no-repeat;
  transform: translate(-7px, 11px);
}
.social-btn-inst:after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background: transparent url("../img/icons/instagram-icon.png") no-repeat;
  transform: translate(-11px, 11px);
}
.social-btn-inst:hover:after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background: transparent url("../img/icons/insta-hover.png") no-repeat;
  transform: translate(-11px, 11px);
}
.footer-copyright {
  float: right;
  max-width: 320px;
}
.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}
.footer-copyright .btn {
  margin-right: 0;
}
.footer-copyright .btn:hover {
  color: #000;
  background: #fff;
}
