body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  background: #141414;
  color: #fff;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}
body.main-page {
  background: #141414 url("../img/background-body.jpg") no-repeat center top;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-header {
  margin-bottom: 60px;
  background: #000;
}
.main-navigation {
  float: left;
  width: 780px;
}
.main-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}
.main-navigation a {
  display: block;
  padding: 25px 20px;
  text-decoration: none;
  color: #fff;
}
.main-navigation a:hover {
  background: #242424;
}
.main-navigation .active a {
  position: relative;
}
.main-navigation .active a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 60%;
  height: 5px;
  background: white;
}
.main-navigation .active a:hover {
  background: none;
}
.user-block {
  float: right;
  max-width: 140px;
}
.login {
  display: inline-block;
  vertical-align: top;
  padding: 25px 20px;
  padding-left: 50px;
}
.login {
  position: relative;
  text-decoration: none;
  color: white;
}
.login:hover {
  background: #242424;
}
.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 18px;
  background: transparent url("img/sprite.png") no-repeat;
  background-position: 0 -212px;
  opacity: .3;
}
.login:hover:before {
  opacity: 1;
}
.logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.header-logo {
  width: 111px;
  height: 24px;
}
.main-item {
  background-color: #fbf8f5;
  color: #000;
  padding-bottom: 85px;
}
.item-title {
  font-size: 30px;
}
.breadcrumbs {
  list-style-type: none;
  font-size: 0;
  margin-left: -20px;
  padding: 0;
}
.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}
.breadcrumbs a {
  display: block;
  padding: 25px 20px;
  text-decoration: none;
  color: #000;
}
.features {
  margin-bottom: 80px;
}
.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}
.features-item:last-child {
  margin-right: 0;
}
.features-title {
  position: relative;
  padding-bottom: 50px;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 42px;
}
.features-item p {
  margin: 10px;
}
.features-title::after {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
  bottom: 0;
  left: 50%;
  margin-left: -10px;
}
.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  background: #f8f5f2;
  color: #000;
}
.content-column-left {
  float: left;
  width: 350px;
}
.comtent-column-title {
  margin: 0;
  Margin-bottom: 35px;
  font-size: 30px;
  line-height: 42px;
}
.content-column-right {
  float: right;
  width: 300px;
}
.news-preview {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.news-preview li {
  margin-bottom: 25px;
}
.news-preview time {
  text-transform: none;
  font-weight: normal;
}
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 33px;
  color: #fff;
  background: #000;
  font-size: 14px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 16x;
}
.btn:hover, .btn:active {
  background: #663d15;
}
.btn:disabled {
  cursor: default;
  opacity: .5;
}
.btn:disabled:hover {
  background: #000;
}
.gallery {
  height: 260px;
  position: relative;
}
.gallery-content {
  height: 164px;
  margin: 0;
  border: 7px solid white;
  background: #ccc;
}
.gallery-content img {
  width: 286px;
  height: 164px;
}
.gallery .btn {
  width: 140px;
  margin: 0;
  position: absolute;
  margin-top: 40px;
}
.gallery-prev {
  left: 0;
}
.gallery-next {
  right: 0;
}
.index-content p {
  margin: 0;
  margin-bottom: 25px;
}
.appointment-form input {
  float: left;
  margin-right: 25px;
  margin-bottom: 20px;
  width: 106px;
  padding: 10px 15px;
  border: 2px solid #000;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 15px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
  background: #f9f6f3;
  outline: none;
}
.appointment-form input:nth-child(2n) {
  margin-right: 0;
}
.appointment-form input:focus {
  border: 5px solid #663d15;
}
.appointment-form .btn {
  width: 100%;
  clear: both;
}
.item-wrapper {
  margin-top: 25px;
  margin-left: 0;
}
.item-column-left {
  float: left;
  width: 540px;
}
.item-column-right {
  float: right;
  width: 390px;
}
.item-photo-large {
  margin-bottom: 20px;
  margin-left: 0;
}
.item-photo-large img {
  width: 460px;
  height: 498px;
}
.item-photo-small {
  width: 460px;
  font-size: 0;
  margin-left: 0;
}
.item-photo-small img {
  display: inline-block;
  margin-right: 20px;
  width: 140px;
  height: 149px;
}
.item-photo-small img:last-of-type {
  margin-right: 0;
}
.main-footer {
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 40px;
  background: #252525;
}
footer.item {
  margin-top: 0;
}
.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 80px;
}
.footer-contacts a {
  color: #fff;
}
.footer-contacts a:hover {
  text-decoration: none;
}
.footer-social {
  float: left;
  text-align: center;
}
.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}
.social-btn {
  margin: 0 2px;
  width: 43px;
  height: 43px;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  text-decoration: none;
  background: #000;
}
.social-btn:hover {
  background-color: #fff;
}
.social-btn-inst {
  margin-right: 0;
}
.footer-copyright {
  float: right;
  max-width: 320px;
}
.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}
.footer-copyright .btn {
  margin-right: 0;
}
.footer-copyright .btn:hover {
  color: #000;
  background: #fff;
}
